.burgerConstructor {
  margin-top: 48px;
  max-width: 600px;
  min-width: 300px;
  min-height: 300px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 12px 0 0;
  gap: 16px;
  list-style: none;
  max-height: 464px;
  overflow-y: auto;
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background: #2f2f37;
  height: 464px;
  border-radius: 0;
}

.list::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  height: 292px;
  border-radius: 0;
}

.list::-webkit-scrollbar-thumb:hover {
  background: #8585ad;
}


.arrangeContainer {
  display: flex;
  justify-content: flex-end;
}

.totalPrice {
  display: flex;
  align-items: center;
}
