.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 120px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  justify-self: center;
}

.navLink {
  display: block;
  min-height: 46px;
  margin-top: 18px;
  text-decoration: none;
}

.text {
  margin-top: 80px;
}

.active {
  color: #fff;
}

.buttonContainer {
  display: flex;
  margin-left: 170px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 890px;
}
